{% extends 'base.html' %}

{% block title %}Souvenir
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Things Made of Gamgyul that You Can Buy in Jeju Island </h3>
        <!--        <ol class="breadcrumb mb-4">-->
        <!--            <li class="breadcrumb-item active">Dashboard</li>-->
        <!--        </ol>-->
        <img src="../media/souvenir_image.png" alt="." style="width: 90%; position: relative; padding: 15px 0px 0px 0px;"/>

    </div>

</main>

{% endblock %}