{% extends 'base.html' %}

{% block title %}Gamgyul Family
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Gamgyul Family</h3>
<!--        <ol class="breadcrumb mb-4">-->
<!--            <li class="breadcrumb-item active">Dashboard</li>-->
<!--        </ol>-->
        <div class="row">
            <div class="col-xl-2 col-md-6">
                <div class="card  text-white mb-4" style="background-color: #F89B00;">
<!--                    <div class="card-body">Primary Card</div>-->
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Geugjosaeng<br>(극조생류)</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card  text-white mb-4" style="background-color: #F89B00;">
<!--                    <div class="card-body">Warning Card</div>-->
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Josaeng<br>(조생류)</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card  text-white mb-4" style="background-color: #F89B00;">
<!--                    <div class="card-body">Success Card</div>-->
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Mangam<br>(만감류)</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6">
                <div class="card  text-white mb-4" style="background-color: #F89B00;">
<!--                    <div class="card-body">Danger Card</div>-->
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Geumgam<br>(금감류)</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
                        <div class="col-xl-2 col-md-6">
                <div class="card  text-white mb-4" style="background-color: #F89B00;">
<!--                    <div class="card-body">Danger Card</div>-->
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Orange<br>(오렌지류)</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
<!--                        <i class="fas fa-chart-area me-1"></i>-->
                        {{family.title}}
                    </div>
                    <div class="card-body">
                        <img src="{{family.img.url}}" alt="{{family.id}}" style="width: 100%;"/>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-chart-bar me-1"></i>
                        Bar Chart Example
                    </div>
                    <div class="card-body">
                        <canvas id="myBarChart" width="100%" height="40"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="js/scripts.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>-->
<!--<script src="assets/demo/chart-area-demo.js"></script>-->
<!--<script src="assets/demo/chart-bar-demo.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>-->
<!--<script src="js/datatables-simple-demo.js"></script>-->

{% endblock %}