{% extends 'base.html' %}

{% block title %}Health
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <h3 class="mt-4">Benefits of Gamgyul</h3>
        <!--        <ol class="breadcrumb mb-4">-->
        <!--            <li class="breadcrumb-item active">Dashboard</li>-->
        <!--        </ol>-->
        <img src="../media/health/benefit_gamgyul.png" alt="." style="width: 90%; position: relative; padding: 15px 0px 0px 0px;"/>

        <h3 class="mt-4">Nutrients of Gamgyul</h3>
        <div class="row" style="padding: 15px 0px 0px 0px; font-size: 14px;">
            <div class="col-xl-6">
                <div class="card mb-4" style="background-color: #FFFFFF; border-color: #FFFFFF">
                    <div class="card-body" style="text-align: left; line-height: 100px;">
                        <p style="color:#000000;">Gamgyuls are rich in functional components, which are effective in
                            maintaining health and preventing diseases, such as various vitamins, minerals and dietary
                            fibre.

                            For the pharmacological values, it is said that gamgyul is effective in the antioxidant and
                            anti-cancer activity, anti-obesity, also the medical community of advanced gamgyul countries
                            such as the United States and Japan reports excellent pharmacological value of
                            tangerines.</p>
                    </div>
                </div>
            </div>
            <img src="../media/health/vitamin_gamgyul.png" alt="." style="width: 40%; position: relative"/>
        </div>
    </div>


    <div class="row">


    </div>
</main>

{% endblock %}