{% extends 'base.html' %}

{% block title %}Best Food
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <div class="row" style="padding: 15px 0px 0px 0px;">
            <div class="col-xl-6">
                <div class="card mb-4" style="background-color: #FFFFFF; border-color: #FFFFFF">
                    <div class="card-body" style="text-align: left; line-height: 100px;">
                        <img src="../media/best/best_food_title.png" alt="." style="width: 50%; position: relative"/>
                        <img src="../media/best/best_food.png" alt="." style="width: 100%; position: relative"/>

                    </div>
                </div>
            </div>
            <div class="col-xl-5">
                <div class="card mb-4" style="background-color: #FFB441; border-color: #FFFFFF;">
                    <div class="card-body" style="text-align: center;">
                        <img src="../media/best/best_food_pizza.png" alt="." style="width: 50%; position: relative"/>
                        <p style="font-size: 14px; color: black; padding-top: 10px;">Ingredients : 1½cup flour, sugar, ⅓cup milk, a little
                            salt, 1 teaspoon yeast sugar, 1 cup water, pizza sauce, tomato ketchup, onion, garlic, salt
                            pepper, onion, bell pepper, button mushrooms, bacon, cheese for pizza, 2 gamgyuls</p>
                        <h3>How</h3>
                        <ol style="line-height: 22px; font-size: 12px;">
                            <li>Put a teaspoon of sugar and yeast in warm water at 40°C, put it in an oven set as a
                                fermentation function, ferment it for three to four minutes, and when it swells, put it
                                in flour, add milk, sugar, and salt, and knead it.
                            </li>
                            <li>Leave it in a warm place for 30 to 40 minutes, and when it rises, remove air by touching
                                it, and spread the dough thinly in an oiled pizza pan.
                            </li>
                            <li>Make the sauce. Chop onions and garlic and then stir-fry with a little bit of oil, add
                                tomato ketchup, boil slowly, season with salt and pepper, pour it into the prepared
                                dough and spread it out.
                            </li>
                            <li>Remove the oil after stir-frying bacon and cut it into 1cm pieces and then slice
                                mushrooms, onions, bell peppers, and gamgyuls into shapes.
                            </li>
                            <li>Place vegetables and sliced cheese for pizza on top of a sauce-coated dough and bake in
                                a lidded pan for 20 minutes.
                            </li>
                        </ol>


                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}