{% extends 'base.html' %}

{% block title %}Best Pick
{% endblock %}

{% block content %}

<main>
    <div class="container-fluid px-4">
        <div class="row" style="padding: 15px 0px 0px 0px;">
            <div class="col-xl-6">
                <div class="card mb-4" style="background-color: #FFFFFF; border-color: #FFFFFF">
                    <div class="card-body" style="text-align: left; line-height: 100px;">
                        <img src="../media/best/best_pick.png" alt="." style="width: 60%; position: relative"/>
                        <div class="row" style=" font-size: 14px; padding: 0px 10px 0px 50px; flex-wrap: nowrap;">
                            <h3 style="padding-right: 20px; font-size: 40px;"><b>1</b></h3>
                            <p>It is fresh that the top of the Gamgyul is thin and green.</p>
                        </div>
                        <div class="row" style=" font-size: 14px; padding: 0px 10px 0px 50px; flex-wrap: nowrap;">
                            <h3 style="padding-right: 15px; font-size: 40px;"><b>2</b></h3>
                            <p>When the top of Gamgyul is uneven, it has a higher sugar content than the smooth
                                one. </p>
                        </div>
                        <div class="row" style=" font-size: 14px; padding: 0px 10px 0px 50px; flex-wrap: nowrap;">
                            <h3 style="padding-right: 15px; font-size: 40px;"><b>3</b></h3>
                            <p>It is good that the skin is thin and hard, and the peel and flesh are not separated, and
                                it is rich in juice when it is heavy for its size.</p>
                        </div>
                        <div class="row" style=" font-size: 14px; padding: 0px 10px 0px 50px; flex-wrap: nowrap;">
                            <h3 style="padding-right: 15px; font-size: 40px;"><b>4</b></h3>
                            <p>Round and flat ends have higher sugar content than protruding ends.</p>
                        </div>
                        <div class="row" style=" font-size: 14px; padding: 0px 10px 0px 50px; flex-wrap: nowrap;">
                            <h3 style="padding-right: 15px; font-size: 40px;"><b>5</b></h3>
                            <p>When sorted in order of size, there are 2 to 8, and the size of medium 4 to 6, which is
                                approximately 6 cm in diamete, is the most delicious ones.</p>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4" style="background-color: #FFFFFF; border-color: #FFFFFF">
                    <div class="card-body" style="text-align: left; line-height: 100px;">
                        <h1 style="font-size: 60px;"><b>Wow!</b></h1>
                        <h1 style="font-size: 60px;"><b>You Can</b></h1>
                        <h1 style="font-size: 60px;"><b>Choose the</b></h1>
                        <h1 style="font-size: 60px;"><b>Best Gamgyul</b></h1>

                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

{% endblock %}